<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/style.css"/>
</head>

<script>
    function sendNotification() {
        let prisonNumber = window.event.currentTarget.name
        let dialogId = 'admin'
        let xml = new XMLHttpRequest();
        xml.open("POST", "/admin-notif", true);
        xml.setRequestHeader('content-type', 'application/x-www-form-urlencoded');
        xml.send(`prisonNumber=${prisonNumber}&dialogId=${dialogId}`);
    }
</script>

<body>
   

<div class="grid-student">
<div class="sidebar">
    <a href="/logout">Logout</a>
    <h1>Hello admin
    </h1>
</div>

<br>

<div class="grid-student-col-1">
    <h2>Your students: </h2>

    <table>
        <% for (var i = 0; i<students.length; i++) { %>
            <% let dialogId = [prisonNumber, students[i].prison_number].sort().join("-").toString() %>
            <tr>
                <td>
                    <div>
                        <b><%= students[i].name %> </b>
                        <p>
                            <%= students[i].prison_number %>
                        </p>
                        <form action="/dashboard/<%= students[i].prison_number %>" method="POST">
                          <input type="hidden" name="name" value="<%= students[i].name %>">
                            <div>
                                <input type="submit" value="View">
                            </div>
                        </form>



                        <form action="/messages/<%= dialogId %>" method="POST">
                              <div>
                                  <input type="submit" value="Message">
                              </div>
                          </form>
                    </div>


                    <% } %>
                        <br/>
                </td>
            </tr>


    </table>
</div>
<div class="grid-student-col-2">
    <h2>Last requests:</h2>
    <table>
        <% for (let i = requests.length - 1; i >= 0; i--) { %>
            <tr>
                <td>
                    <b> <%= requests[i].date %></b>
                    <br>
                   <p><%= requests[i].log %></p>
                   <br>
                   <p></p>
                   
                   <form action="/ilp" method="POST">
                    <div>
                        <input type="hidden" name="prisonNumber" value="<%= requests[i].prison_number %>">
                        <input type="hidden" name="module" value="<%= requests[i].module %>">
                        <input type="hidden" name="requestFromSidebar" value="<%= requests[i].type %>">
                        <% if (requests[i].type === "update") { %>
                            <input type="hidden" name="target_date" value="<%= requests[i].target_date %>">
                        <% } %>
                        <input type="submit" name="<%= requests[i].prison_number %>" class="right" onclick="sendNotification()" value="Approve">
                    </div>
                </form>
                <form action="/ilp" method="POST">
                    <div>
                        <input type="hidden" name="prisonNumber" value="<%= requests[i].prison_number %>">
                        <input type="hidden" name="module" value="<%= requests[i].module %>">
                        <input type="hidden" name="requestFromSidebar" value="<%= requests[i].type %>">
                        <input type="hidden" name="decline" value="true">
                        <% if (requests[i].type === "update") { %>
                            <input type="hidden" name="targetDate" value="<%= requests[i].target_date %>">
                        <% } %>
                        <input type="submit" name="<%= requests[i].prison_number %>" class="right" onclick="sendNotification()" value="Decline">
                    </div>
                </form>
                </td>
            </tr>
      <%  } %>
    </table>
</div>
</div>
  

</body>

</html>