<form action="/review/edit" method="POST">
    <div>
        <input type="hidden" id="review" name="review" value="<%= review %>">
        <input type="hidden" id="title" name="title" value="<%= title %>">
        <input type="hidden" id="user" name="user" value="<%= user %>">
        <input type="hidden" id="id" name="reviewId" value="<%= id %>">
        <input type="hidden" id="date" name="date" value="<%= date %>">
        <input type="hidden" id="prisonNumber" name="prisonNumber" value="<%= prisonNumber %>">
        <input class="right" type="submit" value="edit">
    </div>
</form>  