<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/style.css"/>
</head>


<style>
    
    textarea,
    p {
        white-space: pre;
    }
</style>

<body>

    

        <a href="/users/logout">Logout</a>
        <a href="/projects">Project reviews</a>
        <h1>Hello
            <%= user %>
        </h1>
        <form action="/dashboard" method="POST">
            <div>
                <textarea id="text" name="text" rows="8" cols="50" wrap="hard" placeholder="Write something about your last week work" required></textarea>
            </div>
            <div>

            </div>
            <div>
                <input type="submit" value="Post">
            </div>
        </form>

        <h2>Your reflections: </h2>
                <table>
                    <% for (var i = posts.length - 1; i>=0; i--) { %>
                        
                        <tr>
                        
                            <td class="post">
                                <b><%- posts[i].date %>: </b>
                                <p class="break"><%= posts[i].text %></p>
                                    <br/>
                                    <% if (prisonNumber !== process.env.ADMIN_PRISON_NUMBER) { %>
                                        <form action="/edit" method="POST">
                                                <input type="hidden" name="postId" value="<%= posts[i].id %>">
                                                <input class="right" type="submit" value="Edit">
                                        </form>
                                        <% } %>
                                    </td>
                               
                                </tr>
                                <tr>
                                    <td class="comment">
                                    <% if (posts[i].comment) { %>
                                        <b> Tutor's comment: </b>
                                        <p class="break"><i> <%- posts[i].comment %></i></p>
                                        <% } else { %>
                                            <i> Not commented yet </i>
                                       <% } %>
                                    
                            </td>
                        
                        </tr>
                        <% } %>
                </table>
</body>

</html>