<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/style.css"/>
    <script src="scripts/dashboard.js"></script>
</head>

<body>

    
<div class="navbar">
    <h1><a href="/dashboard">CODE4000</a></h1>
    <ul>
        <li><a href="/reviews">Tutor reviews</a></li>
        <li><a href="/techskills">Tech skills</a></li>
        <li><a href="/softskills">Soft skills</a></li>
        <li><a href="/ilp">ILP</a></li>
        <li><a href="/rules">Classroom rules</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
</div>
      
       
<div class="dashboard-table"> 
            <div class="sidebar">
                <div class="fixed-part">
                <h1>Hello,
                    <%= name %>!
                </h1>
                <a href="/reviews">Project reviews</a>
                <br/>
                <a href="/techskills">Tech skills</a>
                <br/>
                <a href="/softskills">Soft skills</a>
                <br/>
                <p><i>Please do your best to update your reflections every Friday and refresh your tech and soft skills records monthly</i></p>
                </div>
            </div>
            
           
        <br/>
        
        
        <div class="dashboard-column-1">
            
            <h2 class="posts-header">Your weekly reflections</h2>
           
        <form action="/dashboard" method="POST">
            <div>
                <textarea id="text" name="text" rows="20" cols="64" wrap="hard" placeholder="Please update your reflections every Friday (it's only visible to you and your tutor)" required></textarea>
            </div>
          
            <div>
                <input type="submit" value="Post">
            </div>
        </form>

       <br/>
                <table>
                    <% for (var i = posts.length - 1; i>=0; i--) { %>
                        
                        <tr>
                        
                            <td class="post">
                                <b><%- posts[i].date %>: </b>
                                <p class="break"><%= posts[i].text %></p>
                                    <br/>
                                    <% if (prisonNumber !== process.env.ADMIN_PRISON_NUMBER) { %>
                                        <form action="/view/post" method="POST">
                                                <input type="hidden" name="postId" value="<%= posts[i].id %>">
                                                <input type="hidden" id="date" name="date" value="<%= posts[i].date %>">
                                                <input type="hidden" id="name" name="name" value="<%= name %>">
                                                <input type="hidden" id="text" name="text" value="<%= posts[i].text %>">
                                                <input type="hidden" id="comment" name="comment" value="<%= posts[i].comment %>">
                                                <input type="hidden" id="prisonNumber" name="prisonNumber" value="<%= prisonNumber %>">
                                                <input class="right" type="submit" value="Edit">
                                        </form>
                                        <% } %>
                                    </td>
                               
                                </tr>
                                <tr>
                                    <td class="comment">
                                    <% if (posts[i].comment) { %>
                                        <b> Tutor's comment: </b>
                                        <p class="break"><i> <%- posts[i].comment %></i></p>
                                        <% } else { %>
                                            <i> Not commented yet </i>
                                       <% } %>
                                    
                            </td>
                        
                        </tr>
                        <% } %>
                </table>
        </div>
        <div class="dashboard-column-2">
        
            <table>
                <tr>
                    <td class="messages-header">
                        <h2>Your messages</h2>
                    </td>
                </tr>
        <% for (let i = 0; i < students.length; i++) { %>
            
                <% if (prisonNumber !== students[i].prison_number) { %>
                <tr>
                    <td class="message">
                            <% let dialogId = [prisonNumber, students[i].prison_number].sort().join("-").toString() %>
                        
                            
                            <form action="/messages/<%= dialogId %>" method="POST">
                                <input type="hidden" name="name" value="<%= students[i].name %>">
                                <input type="hidden" name="participant1" value="<%= prisonNumber %>">
                                <input type="hidden" name="participant2" value="<%= students[i].name %>">
                                <input type="hidden" name="participant2pn" value="<%= students[i].prison_number %>">
                                <input type="hidden" name="students" value="<%= students %>">
                                <b style="display:inline-block">
                                <%= students[i].name %>, 
                                <%= students[i].prison_number %>
                                <% if (notSeen[students[i].prison_number] == "unseen") { %>
                                    <b style="display:inline-block; color: red">(new)</b>
                                <% } %>
                            </b>
                                
                                <input type="submit" style="float: right" value="View">
                                
                            </form>
            
    
                    </td>
                </tr>
                <% } %>
        <% } %>
    </table>

    <br/>
    
        </div>
    </div>
   
           
</body>

</html>