<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>


<style>
    textarea,
    p {
        white-space: pre;
    }
</style>

<body>

    <% if (true) { %>

        <a href="/users/logout">Logout</a>
        <h1>Hello
            <%= user %>
        </h1>
        <form action="/dashboard" method="POST">
            <div>
                <textarea id="text" name="text" rows="8" cols="50" placeholder="Write something about your last week work" required></textarea>
            </div>
            <div>

            </div>
            <div>
                <input type="submit" value="Post">
            </div>
        </form>

        <h2>Your reflections: </h2>
        <% } else { %>
            <a href="/dashboard">Back to all users</a>

            <h1>Hello Admin
            </h1>
            <h2>Student:
                <% user.name %>,
                    <% prisonNumber %>
            </h2>
            <% } %>


                <table>
                    <% for (var i = posts.length - 1; i>=0; i--) { %>
                        <tr>
                            <td>
                                <b><%= posts[i].date %>: </b>
                                <%- posts[i].text %>
                                    <br/>
                                    <% if (posts[i].comment) { %>
                                        <i> <%- posts[i].comment %></i>
                                        <% } %>

                                        <form action="/edit" method="POST">
                                                <input type="hidden" name="postId" value="<%= posts[i].id %>">
                                                <input type="submit" value="Edit">
                                        </form>
                            </td>
                        </tr>
                        <% } %>

                </table>
</body>

</html>