<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/style.css"/>
</head>

<body>

    

      
        <div class="targetsTable">
            
            <div id="fixed">
                <a href="/logout" style="float: left;">Logout</a>
                <br/>
                <h1>Hello,
                    <%= name %>!
                </h1>
                <a href="/reviews">Project reviews</a>
                <br/>
                <a href="/targets">Tech skills</a>
                <br/>
                <a href="/softskills">Soft skills</a>
                <br/>
                <p><i>Please do your best to update your reflections every Friday and refresh your tech and soft skills records monthly</i></p>

            </div>
            
        
        <br/>
        
    
        <div>
        
        <form action="/dashboard" method="POST">
            <div>
                <textarea id="text" name="text" rows="20" cols="64" wrap="hard" placeholder="Write something about your last week work" required></textarea>
            </div>
          
            <div>
                <input type="submit" value="Post">
            </div>
        </form>

        <h2>Your reflections: </h2>
                <table>
                    <% for (var i = posts.length - 1; i>=0; i--) { %>
                        
                        <tr>
                        
                            <td class="post">
                                <b><%- posts[i].date %>: </b>
                                <p class="break"><%= posts[i].text %></p>
                                    <br/>
                                    <% if (prisonNumber !== process.env.ADMIN_PRISON_NUMBER) { %>
                                        <form action="/view/post" method="POST">
                                                <input type="hidden" name="postId" value="<%= posts[i].id %>">
                                                <input type="hidden" id="date" name="date" value="<%= posts[i].date %>">
                                                <input type="hidden" id="name" name="name" value="<%= name %>">
                                                <input type="hidden" id="text" name="text" value="<%= posts[i].text %>">
                                                <input type="hidden" id="comment" name="comment" value="<%= posts[i].comment %>">
                                                <input type="hidden" id="prisonNumber" name="prisonNumber" value="<%= prisonNumber %>">
                                                <input class="right" type="submit" value="Edit">
                                        </form>
                                        <% } %>
                                    </td>
                               
                                </tr>
                                <tr>
                                    <td class="comment">
                                    <% if (posts[i].comment) { %>
                                        <b> Tutor's comment: </b>
                                        <p class="break"><i> <%- posts[i].comment %></i></p>
                                        <% } else { %>
                                            <i> Not commented yet </i>
                                       <% } %>
                                    
                            </td>
                        
                        </tr>
                        <% } %>
                </table>
            </div>
            <div>
            <div id="messagesHeader">
               <h2>Code4000 students</h2>
            </div>
                <table>
            <% for (let i = 0; i < students.length; i++) { %>
                    <% if (prisonNumber !== students[i].prison_number) { %>
                    <tr class="message">
                        <td class="message">
                                <% let dialogId = [prisonNumber, students[i].prison_number].sort().join("-").toString() %>
                            
                                <% console.log(dialogId) %>
                                <form action="/messages/<%= dialogId %>" method="POST">
                                  <input type="hidden" name="name" value="<%= students[i].name %>">
                                    <input type="hidden" name="participant1" value="<%= prisonNumber %>">
                                    <input type="hidden" name="participant2" value="<%= students[i].prison_number %>">
                                  <b style="display:inline-block"><%= students[i].name %>, <%= students[i].prison_number %></b>
                                  <input type="submit" style="float: right" value="Message">
                                    
                                </form>
                            
                            
                            
        
                        </td>
                    </tr>
                    <% } %>
           <% } %>
        </table>
    </div>
    </div>
    </div>
           
</body>

</html>