<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/style.css"/>
</head>

<style>
    textarea,
    p {
        white-space: pre;
    }
</style>

<body>


    <a href="/dashboard">Back to all users</a>

    <h1>Hello Admin
    </h1>
    




    <table>
        <tr>    
            <td class="review">
                <b><%= title %></b>
                <i class="right"><%= date %></i>
                <p class="break"><%= review %></p>
           </td>
        </tr>     
            <tr>
                <td>
    <h2>Edit your review here: </h2>
    <form action="/review/edit %>" method="POST">
        <div>
            <input type="hidden" id="prisonNumber" name="prisonNumber" value="<%= prisonNumber %>">
            <input type="hidden" id="title" name="title" value="<%= title %>">
            <input type="hidden" id="student" name="user" value="<%= user %>">
            <input type="hidden" id="id" name="reviewId" value="<%= id %>">
            <input type="hidden" id="edited" name="edited" value="edited">
            <textarea id="review" name="review" rows="8" cols="50"><%= review %></textarea>
              
        </div>
        <input class="right" type="submit" value="Update"> 
    </form>

</td>
</tr>
</table>

<form action="/dashboard/<%= prisonNumber %>" method="POST">
    <div>
        <input type="hidden" id="prisonNumber" name="prisonNumber" value="<%= prisonNumber %>">
        <input class="right" type="submit" value="Back to <%= user %>">  
    </div>
</form>

</body>

</html>