<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/style.css"/>
    <script src="scripts/ilp.js"></script>
</head>

<body>
    <% let today = new Date().toJSON().slice(0, 10); %>
    <div class="navbar">
        <h1><a href="/dashboard">CODE4000</a></h1>
        <ul>
            <li><a href="/reviews">Reviews</a></li>
            <li><a href="/techskills">Tech skills</a></li>
            <li><a href="/softskills">Soft skills</a></li>
            <li><a href="/ilp">ILP</a></li>
            <li><a class="classroom-rules" href="/rules">Classroom rules</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
    </div>

    <div class="grid-ilp">
        <div class="sidebar">
            <div id="fixed-or-not" class="">
            <h1 id="ilp-hello-name">Hello,
                <%= name %>!
            </h1>
            
        <div id="current-modules"> 
            
            <p id="header-your-current">Your current modules: </p>
            <% if (Object.keys(targets["current"]).length > 0) { %>
            <% for (t in targets["current"]) { %>
                <div id="thumbnail<%= t %>" class="sidebar-single-thumbnail">
                <h3><%= targets["full_title"][t] %></h3>
                <p>Target date: <%= targets["current"][t] %></p>
                <input class="date" type="hidden" value='<%= targets["current"][t] %>'>
                <p style="display: none; color: red;" class="overdue-note" id='overdue-<%= targets["current"][t] %>'>Overdue</p>
                <% if (targets["requested"][t] === "delete") { %>
                    <p style="color: red;" class="req-remove">Requested to remove</p>
               <% } %>
               <% if (targets["req_new_date"][t]) { %>
                <p style="color: red;" class="req-remove">Requested to change date</p>
           <% } %>
               <% if (targets["requested"][t] === "add") { %>
                <p style="color: red;" class="req-remove">Requested to add</p>
           <% } %>
           <% if (targets["requested"][t] === "complete") { %>
            <p style="color: red;">Submitted</p>
       <% } %>
                <p style="display: none; color: red;" class="req-remove" id='req-remove-<%= targets["current"][t] %>'>Overdue</p>
                <p style="display: none; color: red;" class ="ilp-edit" onclick="displayRescheduleForm()">Click here to edit</p>
                <div class="reschedule-form" style="display: none" id="reschedule-form-<%= t %>">
                    <form action="/ilp/update" method="POST">
                        <input type="hidden" name="module" value="<%= t %>">
                        <input type="hidden" name="requestFromSidebar" value="update">
                        <p>Choose a new date: </p>
                        <input type="date" min="<%= today %>" name="date" required>
                        <p></p>
                        <input type="submit" onsubmit="displayCurrentModules()" value="Change">
                    </form>
                    <% if (!targets["requested"][t]) { %>
                    <form action = "/ilp/delete" method = "POST">
                        <input type="hidden" name="module" value="<%= t %>">
                        <input type="hidden" name="requestFromSidebar" value="delete">
                        <input type="submit" value="Remove">
                    </form>
                    <% } else { %>
                        <form action = "/ilp/cancel" method = "POST">
                            <input type="hidden" name="module" value="<%= t %>">
                            <input type="hidden" name="requestFromSidebar" value="cancel-request">
                            <input type="submit" value="Cancel request">
                        </form>
                        <%}%>
                        
                                    
                                
                    <button onclick="cancel()">Cancel</button>
                </div>
                <button value='<%= t %>' class="thumbnail-view-button" onclick="showTargets()">View</button>
                
                </div>
                <%}%>
                <%} else {%>
                    <i>None</i>
                    <p></p>
                    <% } %>
            <div style="justify-content: center;"><button id="add-module-button" onclick="addModule()">Add modules</button></div>
        </div>
   

        <div id="add-module">      
            <p>Select a module: </p>

            <% for (t in targets["full_title"]) { %>
                <% if (!targets["current"][t] && !targets["completed"][t]) { %>
                <button value='<%= t %>' onclick="displayModuleDescription()"><%= targets["full_title"][t] %></button>
               
                <%}%>
                <%}%>
            </div>
            
            <button id="modules-menu-cancel" onclick="hideModuleDescription()">Cancel</button>

            <% if (Object.keys(targets["completed"]).length > 0) { %>
            
            <div id="completed-modules"> 
                <p id="header-your-completed">Your completed modules: </p>
                <% for (t in targets["completed"]) { %>
                    <div id="completed-thumbnail-<%= t %>" class="sidebar-single-thumbnail">
                    <h3><%= targets["full_title"][t] %></h3>
                    <p>Completed on: <%= targets["completed"][t] %></p>
                    <button value='<%= t %>' class="thumbnail-view-button" onclick="showCompletedModuleTargets()">View</button>
                    </div>
                    <%}%>
            </div>

            <% } %>
        
            
            <div class="saved-status-container">
                <div>
                   
                    <button class="ilp-sidebar-buttons" id="ilp-cancel-button" style="display:none" onclick="cancel()">Exit</button>
                    <button class="ilp-sidebar-buttons" id="ilp-save-button" style="display:none" onclick="save()">Save</button>
                    
                    <button class="ilp-sidebar-buttons" id="submit-completed" style="display:none" onclick="submitCompleted()">Submit</button>  
                    
                    
                </div>
               
                <div class="saved-status-container">
                    <i id="ilp-saved" style="display:none">saved</i>
                    <i id="ilp-not-saved" style="display:none">not saved</i>
                   
                </div>
                <a id="back-link" style="display: none" href="/ilp">Back</a>
            </div>
       
        
        
    </div>
    
        </div>
    <br/>
        
    
    <div id="ilp-targets" class="grid-ilp-col-1">
        <i id="ilp-select-module"><--- Select a module from sidebar</i>
        
            <% for (t in targets) { %>
                <% if (t != "prison_number") { %>
                <table id='table<%= t %>' class="single-module">
                    <td><div class="col-1-header"><h2><%= targets["full_title"][t] %></h2></div></td>
                <tr>  
                    <% for (i in targets[t]) { %>      
                    <td id="<%= i %>" class="<%= targets[t][i] %>" name='boobs' onclick="change()"><%= i %></td>
                    
        </tr>
        <%}%>
        <%}%>
        <%}%>
        </table>
        
        <table id='completed-table' class="single-module">
            <% for (t in targets) { %>
                <table id='completed<%= t %>' class="single-module">
                    <td><div class="col-1-header"><h2><%= targets["full_title"][t] %></h2></div></td>
                <tr>  
                    <% for (i in targets[t]) { %>      
                    <td id="<%= i %>" class="true"><%= i %></td>
                    
        </tr>
        <%}%>
        <%}%>
        
    </table>
      
    
          
      <% for (t in targets) { %>
        <% if (t != "prison_number") { %>
        <table>
            <tr>
            <td style="display: none;" id="description<%= t %>" class="descriptions">
                <div>
                    <p><%= targets["descriptions"][t] %></p>
                    
                    <form action="/ilp/add" method="POST">
                        <input type="hidden" name="module" value="<%= t %>">
                        <input type="hidden" name="requestFromSidebar" value="add">
                        <p>When do you want to complete it?</p>
                        <input type="date" name="date" min="<%= today %>" required>
                        <p>Recommended time: <%= targets["recommended_time"][t] %></p>
                        <input type="submit" onsubmit="displayCurrentModules()" value="Add">
                    </form>
                    <button onclick="hideModuleDescription()">Cancel</button>
                </div>
        </td>
 
</tr>
<%}%>
</table>
<%}%>
    
   
    </div>

</div>

<% for (t in targets["requested"]) { %>
    <input type="hidden" class="requested-<%= t %>">
<% } %>


</body>

</html>