<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/style.css"/>
</head>

<script>
window.onload = (event) => {
    let dialogId = document.getElementById("dialogId").value
    let xml = new XMLHttpRequest();
    xml.open("POST", "/unseen-seen", true);
    xml.setRequestHeader('content-type', 'application/x-www-form-urlencoded');
    xml.send(`dialogId=${dialogId}`);
}

document.addEventListener('scroll', function(e) {
    console.log(window.scrollX)
       if (window.scrollX > 20) {
           
           document.getElementsByClassName("sidebar")[0].style = "width: 200px; padding: 0px;"
           document.getElementsByClassName("fixed-part")[0].style = "display: none;";
           document.getElementsByClassName("dashboard-column-1")[0].style = "margin-left: -80px;";
           document.getElementsByClassName("dashboard-column-2")[0].style = "margin-left: -70px;";
           document.getElementsByClassName("posts-header")[0].style = "margin-left: -80px;";
       } 
       else {
            document.getElementsByClassName("sidebar")[0].style = "width: 300px; padding: 10px;"
           document.getElementsByClassName("fixed-part")[0].style = "display: block";
           document.getElementsByClassName("dashboard-column-1")[0].style = "margin-left: 0px";
           document.getElementsByClassName("dashboard-column-2")[0].style = "margin-left: 0px;";
           document.getElementsByClassName("posts-header")[0].style = "margin-left: 0px;";
       } 
   })
</script>


 


<body>
 
        <% console.log(participant2) %>
 
    <div class="navbar">
        <h1><a href="/dashboard">CODE4000</a></h1>
        <ul>
            <li><a href="/reviews">Tutor reviews</a></li>
            <li><a href="/techskills">Tech skills</a></li>
            <li><a href="/softskills">Soft skills</a></li>
            <li><a href="/ilp">ILP</a></li>
            <li><a href="/rules">Classroom rules</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
    </div>
    <div class="dashboard-table">
        <div class="sidebar">
            <div class="fixed-part">
            
            <a href="/dashboard">Back to dashboard</a>
            <br/>
           
            
            <br/>
           
            <br/>
            </div>
        </div>
        <br/>
       
          <div class="dashboard-column-1">
              <h2 class="posts-header">You and <%= participant2 %></h2>
            <form action="/messages/<%= dialogId %>" method="POST">
                <div>
                    <textarea name="message" rows="20" cols="64" wrap="hard" maxlength="2000" placeholder="Write your message here" required></textarea>
                    <input type="hidden" name="participant2" value="<%= participant2 %>">
                    <input type="hidden" name="participant2pn" value="<%= participant2pn %>">
                </div>
              
                <div>
                    <input type="submit" value="Send">
                </div>
            </form>
            <table>
                <br/>
                
                <% for (let i = messages.length - 1; i >= 0 ; i-- ) { %>
                    <tr>
                        <td>
                    <b><%= messages[i].author %></b>
                    <i>(on <%= messages[i].datetime %>):</i>
                    <br/>
                    <p><%= messages[i].message %></p>
                <% } %> 
            </td>
            </tr>
            
            
            </table>
        
    </div>
    <div class="dashboard-column-2">
        <table>
            <tr>
                <td class="messages-header">
                    <h2>Your messages</h2>
                </td>
            </tr>
                <% for (let i = 0; i < students.length; i++) { %>
                        <% if (prisonNumber !== students[i].prison_number) { %>
            <tr>
                <% if (students[i].prison_number === participant2pn) { %>
                <td class="message-highlight">
                    <% } else { %>
                        <td class="message">
                            <% } %>
                        <% let dialogId = [prisonNumber, students[i].prison_number].sort().join("-").toString() %>   
                    <form action="/messages/<%= dialogId %>" method="POST">
                    <input type="hidden" name="name" value="<%= students[i].name %>">
                        <input type="hidden" name="participant1" value="<%= prisonNumber %>">
                        <input id="students" type="hidden" value="<%= students %>">
                        <input id="notSeen" type="hidden" value="<%= notSeen %>">
                        <input type="hidden" name="participant2" value="<%= students[i].name %>">
                        <input type="hidden" name="participant2pn" value="<%= participant2pn %>">
                    <b style="display:inline-block">
                        <%= students[i].name %>, 
                        <%= students[i].prison_number %>
                        <% if (notSeen[students[i].prison_number] == "unseen" && students[i].prison_number !== participant2pn) { %>
                            <b style="display:inline-block; color: red">(new)</b>
                        <% } %>
                    </b>   
                    <input type="submit" style="float: right" value="View">
                    </form>
                </td>
            </tr>
                <% } %>
            <% } %>
        </table>
    </div>
    </div>

   <input id="dialogId" type="hidden" value="<%= dialogId %>">

  
</body>

</html>