<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/style.css"/>
    <script src="scripts/targets.js"></script>
</head>


 


<body>
    
   
    
    
    
    <div class="targets-table">
        <div>
            <div id="sidebar">
                <a href="/dashboard">Back to dashboard</a>
                <h1>My targets</h1>
                <br/>
                <button name="htmlcss" class="sidebar-buttons" onclick="showStuff()">HTML+CSS</button>
                <button name="jsbasics" class="sidebar-buttons" onclick="showStuff()">Javascript</button>
                <button name="reactjs" class="sidebar-buttons" onclick="showStuff()">ReactJS</button> 
                <div class="big-num">
                    <h1 type="text" id="big-num"></h1>
                    <p>of curriculum completed</p>
                
                <div>
                    <button id="cancelButton" style="display:none" onclick="cancel()">Cancel</button>
                    <button id="saveButton" style="display:none" onclick="save()">Save</button>
                </div>
                <div id="saved-status-container">
                    <i id="saved" style="display:none">saved</i>
                    <i id="not-saved" style="display:none">not saved</i>
                </div>
            </div>
        <br/>
        
    </div>
    </div>

    
    <% let counter = 0; %>
    
    <% let totalTargetsCount = 0; %>
    <% for (t in targets) { %>
        <% let targs = targets[t] %>
        
        <% let index = Object.keys(targets).indexOf(t) %>
        <% let tableName = Object.keys(targets)[index] %>
        <div>
        <div style="vertical-align: top">
        <table id="<%= tableName %>" class="tables" style="display:none">
        
        <% for (i in targs) { %>
            <tr>
                <%  totalTargetsCount += 1; %>
                <%    if (targs[i] == "true") { %>
                    <%     counter += 1; %>
                    <% } %>
                   
              
                <td id="<%= i %>" class="<%= targs[i] %>" onclick="change()" style="pointer-events: all;">
                    <%= i %>
                </td>
            
            
    </tr>
  <%}%>

  

</table>
<%}%>

</div>
</div>
</div>






<input type="hidden" id='totalTargetsCount' value="<%= totalTargetsCount %>">
<input type="hidden" id='counter' name="counter" value="<%= counter %>">


       

</body>

</html>