<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>

<style>
    textarea,
    p {
        white-space: pre;
    }
</style>
<script>

    function editable() {
        return
    }
</script>
<body>


    <a href="/dashboard">Back to all users</a>

    <h1>Hello Admin
    </h1>
    <h2>Student:
        <%= user %>,
            <%= prisonNumber %>
    </h2>

    <h2>
        <%= user %>'s reflections: </h2>


    <table>
       
            <tr>
                <td>
                    <p><%= post.date %>: </p>
                    <br/>
                    <p><%- post.text %></p>
                    <br/>
                    <p><%- post.comment %></p>
                </td>   
                        
            </tr>      
    </table>

    <form action="/comment/edit %>" method="POST">
        <div>
            <input type="hidden" id="prisonNumber" name="prisonNumber" value="<%= prisonNumber %>">
            <input type="hidden" id="text" name="text" value="<%= post.text %>">
            <input type="hidden" id="comment" name="comment" value="<%= post.comment %>">
            <input type="hidden" id="id" name="postId" value="<%= post.id %>">
            <input type="submit" value="Edit comment">   
        </div>
    </form>

    <form action="/dashboard/<%= prisonNumber %>" method="POST">
        <div>
            <input type="hidden" id="prisonNumber" name="prisonNumber" value="<%= prisonNumber %>">
            <input type="submit" value="Back to <%= user %>">  
        </div>
    </form>
    
</body>

</html>