<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/style.css"/>
</head>

<script>
    function showTextarea() {
        document.getElementById("review").style.display = "block"
        document.getElementById("title").style.display = "block"
        document.getElementById("saveButton").style.display = "inline-block"
        document.getElementById("toBeHidden1").style.display = "none"
        document.getElementById("toBeHidden2").style.display = "none"
        document.getElementById("cancelButton").style.display = "inline-block"
        document.getElementById("formButtons").style.display = "inline-block"
        document.getElementById("deleteButton").style.display = "inline-block"
    }

    function hideTextarea() {
        document.getElementById("review").style.display = "none"
        document.getElementById("review").value =  document.getElementById("cached").value
        document.getElementById("title").style.display = "none"
        document.getElementById("saveButton").style.display = "none"
        document.getElementById("cancelButton").style.display = "none"
        document.getElementById("toBeHidden1").style.display = "block"
        document.getElementById("toBeHidden2").style.display = "block"
        document.getElementById("deleteButton").style.display = "none"
    }

    function saveAndHideTextarea() {
        document.getElementById("review").style.display = "none"
        document.getElementById("title").style.display = "none"
        document.getElementById("saveButton").style.display = "none"
        document.getElementById("cancelButton").style.display = "none"
        document.getElementById("toBeHidden1").style.display = "block"
        document.getElementById("toBeHidden2").style.display = "block"
    }
    
    function confirmDelete() {
       
        let confirm = prompt("Type yes if you want to delete this review. This cannot be restored")
        if (confirm === 'yes') {
        let reviewId = document.getElementById('reviewId').value
        let prisonNumber = document.getElementById('prisonNumber').value
            var xml = new XMLHttpRequest()
            xml.open("POST", '/delete/review', true)
            xml.setRequestHeader('content-type', 'application/x-www-form-urlencoded')
            xml.send(`prisonNumber=${prisonNumber}&reviewId=${reviewId}`)
            location.replace(`/dashboard/${prisonNumber}`)
            alert('Review deleted')
        }
        }
        
    
</script>


<body>


    <a href="/dashboard">Back to all users</a>

    <h1>Hello Admin
    </h1>
    <h2>Student:
        <%= name %>,
            <%= prisonNumber %>
    </h2>
  

    <table>
            <tr>
                <td id="toBeHidden1" class="review">
                    <b><%= title %></b>
                    <i class="right"><%= date %></i>
        </td>   
            </tr>
            <tr>
               <td id="toBeHidden2">
                    <p class="break"><%= review %></p>
                    <button class="right" onclick="showTextarea()">Edit</button>
               </td>
            </tr> 
                
                    
                    
                    <form action="/view/review" method="POST">
                        <input type="hidden" id="name" name="name" value="<%= name %>">
                        <input type="hidden" id="reviewId" name="reviewId" value="<%= reviewId %>">
                        <input type="hidden" id="date" name="date" value="<%= date %>">
                        <input type="hidden" id="prisonNumber" name="prisonNumber" value="<%= prisonNumber %>">
                        <input type="hidden" id="cached" name="cached" value="<%= review %>">
                        <input type="hidden" id="editing" name="editing" value="editing">
                        <input type="text" id="title" name="title" size="32" style="display:none" value="<%= title %>" required>
                        <textarea id="review" name="review" style="display:none" rows="20" cols="64" required><%= review %></textarea>
                        <div id="formButtons">
                        <button id="cancelButton" onclick="hideTextarea()"  style="display:none">Cancel</button>
                        <button id="saveButton" onclick="saveAndHideTextarea()"  style="display:none">Save</button>
                        </div>
                    </form>
                    
                        <button class="deleteButton" id="deleteButton" onclick="confirmDelete()" style="display:none">Delete</button>
                    
                    
                 
                 
                
            
            
    </table>

    

    <form action="/dashboard/<%= prisonNumber %>" method="POST">
        <div>
            <input type="hidden" id="prisonNumber" name="prisonNumber" value="<%= prisonNumber %>">
            <input type="hidden" id="name" name="name" value="<%= name %>">
            <input type="submit" style="margin-top:5px" value="Back to <%= name %>">  
        </div>
    </form>
    
</body>

</html>