<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/style.css"/>
</head>

<script>

    function showTextarea() {
        document.getElementById('review').style.display = "block"
        document.getElementById("title").style.display = "block"
        document.getElementById("post-button").style.display = "inline-block"
        document.getElementById("add-review-button").style.display = "none"
        document.getElementById("cancel-button").style.display = "inline-block"
    }

    function hideTextarea() {
        document.getElementById("review").style.display = "none"
        document.getElementById("title").style.display = "none"
        document.getElementById("post-button").style.display = "none"
        document.getElementById("cancel-button").style.display = "none"
        document.getElementById("review").value = ""
        document.getElementById("title").value = ""
        document.getElementById("add-review-button").style.display = "block"
    }

    function saveAndHideTextarea() {
        document.getElementById("review").style.display = "none"
        document.getElementById("title").style.display = "none"
        document.getElementById("post-button").style.display = "none"
        document.getElementById("cancel-button").style.display = "none"
        document.getElementById("add-review-button").style.display = "block"
    }

    function getTechSkillsNums() {
        let completed = parseInt(document.getElementById("techSkillsCompleted").value);
        let total = parseInt(document.getElementById("techSkillsTotal").value);
        calculateAndDisplay(total, completed, "big-num-tech")
    }

    function getSoftSkillsNums() {
       let completed = parseInt(document.getElementById("softskillsCompleted1").value);
       let total = parseInt(document.getElementById("softskillsTotal").value);
        calculateAndDisplay(total, completed, "big-num-soft")
    }

    function calculateAndDisplay(total, completed, string) {
        let number = Math.round((completed / total * 100)).toString() + "%";
        document.getElementById(string).innerText = number;
        for (let i = 0; i < document.getElementsByClassName(string).length; i++) {  
            document.getElementsByClassName(string)[i].value = number
        }
        
    }



    window.onload = (event) => {
       getSoftSkillsNums();
       getTechSkillsNums();
    }



</script>

<body>

<div><a href="/dashboard">Back to all users</a></div>
<div id="student-bar">
    <div id="student-name-date">
        <h2>
            Student:
            <%= name %>,
            <%= prisonNumber %>
        </h2>
        <p>Started Code4000 course on <%= posts[0].date %></p>
    </div>
    <form action="/report/<%= prisonNumber %>" method="POST">
        <input type="hidden" id="name" name="name" value="<%= name %>">
        <input type="hidden" id="curriculumCompleted" class="big-num-tech" name="curriculumCompleted" value="0">
        <input type="hidden" id="softskillsCompleted" class="big-num-soft" name="softskillsCompleted" value="0">
        <input type="hidden" id="postsTotal" name="postsTotal" value="<%= posts.length %>">
        <input type="hidden" id="reviewsTotal" name="reviewsTotal" value="<%= reviews.length %>">
        <button type="submit" id="report-button">Report</button>
    </form> 
    <div id="student-bar-bottom">
    <div class="big-num-tech">
        <h1 id="big-num-tech"></h1>
        <p>curriculum completed</p>
    </div>
    <div class="big-num-soft">
        <h1 id="big-num-soft"></h1>
        <p>soft skills learnt</p>
    </div>
    <div class="big-num-posts">
        <h1><%= posts.length %></h1>
        <p>reflections</p>
    </div>
    <div class="big-num-reviews">
        <h1><%= reviews.length %></h1>
        <p>project reviews</p>
    </div>
    </div>

    
</div>

<div class="admin-container">
    <div id="reflections" class="column-2">
        
        
            <h2><%= name %>'s reflections: </h2>
        
        
            <table>
                <% for (var i = posts.length - 1; i>=0; i--) { %>
                    <tr>
                        <% if (posts[i].comment) { %>
                        <td class="post">
                                <b><%= posts[i].date %>: </b>
                                <p class="break"><%= posts[i].text %></p>
                                <br/>
                            </td>
                       
                        <td class="comment">
                            <p><b>You commented: </b></p>
                            <p class="break"> <%= posts[i].comment %></p>
                            <form action="/view/comment %>" method="POST">
                                <div>
                                    <input type="hidden" name="postId" value="<%= posts[i].id %>">
                                    <input type="hidden" name="prisonNumber" value="<%= prisonNumber %>">
                                    <input type="hidden" id="name" name="name" value="<%= name %>">
                                    <input type="hidden" id="postText" name="text" value="<%= posts[i].text %>">
                                    <input type="hidden" id="postComment" name="comment" value="<%= posts[i].comment %>">
                                    <input type="hidden" id="postDate" name="date" value="<%= posts[i].date %>">
                                    <input class="right" type="submit" value="Edit">
                                </div>
                            </form>
                                </td>
                            </tr>
                            
                                <% } else { %>
                                        <tr>
                                            <td class="post">
                                                <b><%= posts[i].date %>: </b>
                                                <p class="break"><%= posts[i].text %></p>
                                                <br/>
                                            </td>
                                            <td class="comment">
                                            
                                                <p style="display:inline-block;"><i>Not commented yet</i></p>
                                            
                                            <form action="/view/comment %>" method="POST">
                                                <input type="hidden" name="postId" value="<%= posts[i].id %>">
                                                <input type="hidden" name="prisonNumber" value="<%= prisonNumber %>">
                                                <input type="hidden" id="name" name="name" value="<%= name %>">
                                                <input type="hidden" id="text" name="text" value="<%= posts[i].text %>">
                                                <input type="hidden" id="comment" name="comment" value="<%= posts[i].comment %>">
                                                <input type="hidden" id="date" name="date" value="<%= posts[i].date %>">
                                                <input type="submit" class="right" style="color: white; background-color:#DD4A48; display:inline-block" value="Comment">
                                            
                                        </form>
                                        <br/>
                                    </td>
                                    </tr>
                                        <% } %>
                      
                    <% } %>
        
            </table> 
        </div>
        
    <div class="column-1">
        <h2><%= name %>'s project reviews: 
            
            <button id="add-review-button" class="right" onclick="showTextarea()" style="display:block">Add a review</button>
            
            <form action="/dashboard/<%= prisonNumber %>" method="POST">
                <input type="hidden" id="name" name="name" value="<%= name %>">
                <input type="text" id="title" name="title" size="32" style="display:none" placeholder="Project title" maxlength="30" required>
                <textarea id="review" name="review" style="display:none" rows="20" cols="64" placeholder="Write a new review..." required></textarea>
                <input type="submit" onclick="saveAndhideTextarea()" id="post-button" style="display:none" value="Post">
                <button id="cancel-button" onclick="hideTextarea()"  style="display:none">Cancel</button>
            </form> 
        </h2>
 
        
        <table>
            <% if (!reviews[0]) { %>
                <p><i>No reviews yet</i></p>
            <% } else { %> 
        <% for (var i = reviews.length - 1; i>=0; i--) { %>
            <tr>
                <td class="review">
                    <b><%= reviews[i].title %></b>
                    <i class="right"><%= reviews[i].date %></i>
                </td>
                <td>
                    <p class="break"><%= reviews[i].review %></p>
                
                <form action="/view/review" method="POST">
                    <input type="hidden" id="prisonNumber" name="prisonNumber" value="<%= prisonNumber %>">
                    <input type="hidden" id="textarea-review" name="review" value="<%= reviews[i].review %>">
                    <input type="hidden" id="reviewId" name="reviewId" value="<%= reviews[i].id %>">
                    <input type="hidden" id="name" name="name" value="<%= name %>">
                    <input type="hidden" id="title" name="title" value="<%= reviews[i].title %>">
                    <input type="hidden" id="date" name="date" value="<%= reviews[i].date %>">
                    <input type="submit" class="right" value="Edit">
                </form> 
            </td>
            </tr>
            
            <%}%>
            <%}%>
    </table>
</div>



</div>
<% let softskillsTotal = 0 %>
<% let softskillsCompleted = 0; %>
<% for (skill in softskills) { %>
    <% softskillsTotal += 1 %>
    <% if (softskills[skill] == "true") { %>
       <% softskillsCompleted += 1 %>
       <%}%>
<%}%>




<input type="hidden" id='softskillsTotal' value="<%= softskillsTotal %>">
<input type="hidden" id='softskillsCompleted1' value="<%= softskillsCompleted %>">

<% let techSkillsTotal = 0 %>
<% let techSkillsCompleted = 0; %>
<% for (let i = 0; i < techSkills.length; i++) { %>
    <% for (skill in techSkills[i]) {%>
        <% techSkillsTotal += 1 %>
        <% if (techSkills[i][skill] == "true") { %>
            <% techSkillsCompleted += 1 %>
            <%}%>
            <%}%>
    <%}%>

<input type="hidden" id='techSkillsTotal' value="<%= techSkillsTotal %>">
<input type="hidden" id='techSkillsCompleted' value="<%= techSkillsCompleted %>">
</body>

</html>